<!DOCTYPE html>
<html lang="ko">

    <head>
        <!-- Webpage Title -->
        <title>서가에 책 꽂기 | HARRIE SHELF</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/images/favicon.png">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
              rel="stylesheet">

        <script type="text/javascript">

            function saveReview() {

                // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
                let user = $('#user').val();
                let type = $('#type').val();
                let title = $('#title').val();
                let author = $('#author').val();
                let url = $('#url').val();
                let memo = $('#memo').val();
                let like = 0;
                let learn = 0;
                let angry = 0;

                // 2. 제목, 저자, 리뷰 중 하나라도 입력하지 않았을 경우 alert를 띄웁니다. -> 나중에
                if (title == "") {
                    alert("제목을 입력해주세요");
                    $("#title").focus();
                    return;
                } else if (author == "") {
                    alert("저자를 입력해주세요");
                    $("#author").focus();
                    return;
                } else if (memo == "") {
                    alert("메모를 남겨주세요");
                    $("#memo").focus();
                    return;
                }

                // 3. POST /review 에 저장을 요청합니다.
                $.ajax({
                    type: "POST",
                    url: "/reviews",
                    data: {
                        user: user,
                        type: type,
                        title: title,
                        author: author,
                        url: url,
                        memo: memo,
                        like: like,
                        learn: learn,
                        angry: angry
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"]);
                            location.href = "/myshelf?user={{ user }}&login_user={{ login_user }}";
                        }
                    }
                })
            }


            function selectTypeChanged() {
                let type = $('#type').val();
                if (type == '소설책' || type == '실용서적') {
                    $('#url-field').hide();
                } else {
                    $('#url-field').show();
                }
            }

            $(document).ready(function () {
                $('#url-field').hide();
            });

        </script>

        <style type="text/css">

            .center {
                text-align: center;
            }

            .doc {
                width: 700px;
                margin: auto;
            }


            .question-box {
                padding-bottom: 5px;
            }


        </style>
    </head>

    <div>

        <nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home?login_user={{ login_user }}">HARRIE SHELF</a>
                    <div id="navbarBurger" class="navbar-burger" data-target="navMenuDocumentation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">

                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="/myshelf?user={{ user }}&login_user={{ login_user }}">
                            <span class="icon">
                                <i class="fas fa-heart"></i>
                              </span>
                            <span>내 서재 입장하기</span>
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">
                                <span class="icon">
                                <i class="fas fa-book"></i>
                                </span>
                                <span>해리언 서재 둘러보기</span>
                            </a>
                            <div id="moreDropdown" class="navbar-dropdown">
                                <a class="navbar-item" href="/myshelf?user=규원&login_user={{ login_user }}">
                                    규원
                                </a>
                                <a class="navbar-item" href="/myshelf?user=리아&login_user={{ login_user }}">
                                    리아
                                </a>
                                <a class="navbar-item" href="/myshelf?user=재니&login_user={{ login_user }}">
                                    재니
                                </a>
                                <a class="navbar-item" href="/myshelf?user=배지&login_user={{ login_user }}">
                                    배지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=김지&login_user={{ login_user }}">
                                    김지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=이안&login_user={{ login_user }}">
                                    이안
                                </a>
                            </div>
                        </div>
                        <p class="control">
                            <a class="button is-link is-light" href="/write?login_user={{ login_user }}">
                                <span class="icon">
                                <i class="fas fa-pen"></i>
                                </span>
                                <strong>좋은 글 나누기</strong>
                            </a>
                        </p>
                        <a class="navbar-item" href="/">
                            {% if login_user == '규원' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='kyu_profile.jpg') }}">
                            {% elif login_user == '리아' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='lia_profile.jpg') }}">
                            {% elif login_user == '재' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='jaeni_profile.jpg') }}">
                            {% elif login_user == '배지' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='baeji_profile.jpg') }}">
                            {% elif login_user == '김지' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='kimji_profile.jpg') }}">
                            {% elif login_user == '이안' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='ian_profile.jpg') }}">
                            {% elif login_user == 'Guest' %}
                                <img style="max-height: 2.7rem; border-radius: 100px;"
                                     src="{{ url_for('static', filename='ari_profile.jpg') }}">
                            {% endif %}
                        </a>
                    </div>

                </div>
            </div>
        </nav>

        <section class="hero is-medium is-bold">
            <div class="hero-body">
                <div class="container center">
                    <h1 class="title">
                        어떤 책을 읽으셨어요?
                    </h1>
                    <h2 class="subtitle">
                        해리언을 위해 읽은 책, 기사에 대한 내용을 남겨주세요<br>
                        {{ user }}님의 서가에 꽂히게 됩니다.
                    </h2>
                </div>
            </div>
        </section>

        <div class="doc">
            <div class="field question-box">
                <label class="label">Librarian</label>
                <div class="control">
                    <div class="select">
                        <select id="user">
                            <option>{{ user }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field question-box">
                <label class="label">TYPE</label>
                <div class="control">
                    <div class="select">
                        <select id="type" onchange="selectTypeChanged()">
                            <option>소설책</option>
                            <option>실용서적</option>
                            <option>기사</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field question-box">
                <label class="label">TITLE</label>
                <div class="control">
                    <input class="input" type="text" id="title" placeholder="공유하고자 하는 글의 제목을 적어주세요.">
                </div>
            </div>

            <div class="field question-box">
                <label class="label">AUTHOR</label>
                <div class="control">
                    <input class="input" type="text" id="author" placeholder="저자를 입력해주세요.">
                </div>
            </div>

            <div class="field question-box" id="url-field">
                <label class="label">URL</label>
                <div class="control">
                    <input class="input" type="text" id="url" placeholder="모두가 쉽게 기사를 읽을 수 있도록 URL을 공유해주세요.">
                </div>
            </div>

            <div class="field question-box">
                <label class="label">MEMO</label>
                <div class="control">
                        <textarea class="textarea" id="memo"
                                  placeholder="해리언에게 전하고 싶은 메모를 남겨주세요. 140자까지 입력할 수 있습니다." maxlength="140"></textarea>
                </div>
            </div>

            <div class="control">
                <button onclick="saveReview();" class="button is-success is-rounded is-focused">내 서가에 책
                    꽂기
                </button>
            </div>
        </div>
        <br>
        </body>

</html>