<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>해리의 서재 | HARRIE SHELF</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/images/favicon.png">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
              rel="stylesheet">

        <script type="text/javascript">

            {#$(document).ready(function () {#}
            {#    $("#article-box").html("");#}
            {#    showReview();#}
            {#});#}
            {##}
            {#function showReview() {#}
            {#    $.ajax({#}
            {#        type: "GET",#}
            {#        url: "/reviews",#}
            {#        data: {},#}
            {#        success: function (response) {#}
            {#            // 2. 요청 성공 여부 확인하기#}
            {#            if (response["result"] == "success") {#}
            {#                let reviews = response["reviews"];#}
            {#                for (let i = 0; i < reviews.length; i++) {#}
            {#                    makeCard(reviews[i]["title"], reviews[i]["user"], reviews[i]["url"], reviews[i]["memo"]);#}
            {#                }#}
            {#            } else {#}
            {#                alert("리뷰를 받아오지 못했습니다");#}
            {#            }#}
            {#        }#}
            {#    })#}
            {#}#}
            {##}
            {##}
            {#function makeCard(title, user, url, memo) {#}
            {#    let tempHtml = `<div class="column is-one-quarter">#}
            {#                <div class="card">#}
            {#                    <div class="card-image">#}
            {#                        <figure class="image is-4by3">#}
            {#                            <img src="${url}">#}
            {#                        </figure>#}
            {#                    </div>#}
            {#                    <div class="card-content">#}
            {#                        <div class="media">#}
            {#                            <div class="media-content">#}
            {#                                <a href="${url}" class="review-title title is-5">${title}</a>#}
            {#                                <p class="subtitle is-6"> updated by ${user} </p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <div class="content">#}
            {#                            <p>${memo}</p>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>`;#}
            {#    $("#article-box").append(tempHtml);#}
            {#}#}

        </script>

        <style>
            .doc {
                width: 1090px;
                margin: auto;
            }

            .widget {
                margin-top: 50px;
                margin-bottom: 50px;
            }

            .review-title {
                display: inline-block;
            }

            .review-title:hover {
                text-decoration: underline;
            }

        </style>

    </head>
    <body>
        <nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home?login_user={{ login_user }}">HARRIE SHELF</a>
                    {#                        <img src="#" alt="#" width="112" height="28">#}
                    <div id="navbarBurger" class="navbar-burger" data-target="navMenuDocumentation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">

                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="/myshelf?user={{ user }}&login_user={{ login_user }}">
                            <span class="icon">
                                <i class="fas fa-heart"></i>
                              </span>
                            <span>내 서재 입장하기</span>
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">
                                <span class="icon">
                                <i class="fas fa-book"></i>
                                </span>
                                <span>해리언 서재 둘러보기</span>
                            </a>
                            <div id="moreDropdown" class="navbar-dropdown">
                                <a class="navbar-item" href="/myshelf?user=규원&login_user={{ login_user }}">
                                    규원
                                </a>
                                <a class="navbar-item" href="/myshelf?user=리아&login_user={{ login_user }}">
                                    리아
                                </a>
                                <a class="navbar-item" href="/myshelf?user=재니&login_user={{ login_user }}">
                                    재니
                                </a>
                                <a class="navbar-item" href="/myshelf?user=배지&login_user={{ login_user }}">
                                    배지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=김지&login_user={{ login_user }}">
                                    김지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=이안&login_user={{ login_user }}">
                                    이안
                                </a>
                            </div>
                        </div>
                        <p class="control">
                            <a class="button is-link is-light" href="/write?login_user={{ login_user }}">
                                <span class="icon">
                                <i class="fas fa-pen"></i>
                                </span>
                                <strong>좋은 글 나누기</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>

        <div>
            <div class="intro">
                <section class="hero is-medium is-light">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                "{{ user }}님, 시간 날 때 읽어보세요😎"
                            </h1>
                            <h2 class="subtitle">
                                HARRIE TELCO팀의 마음이 차곡차곡 쌓이는 해리 서재.<br>
                                서로에게 카톡으로, 전화로, 말로 추천해주던 책과 기사를 이곳에서 나눠주세요.<br>
                                해리 서재는 해리언들과 함께 성장합니다.<br>
                            </h2>

                        </div>
                    </div>
                </section>
            </div>

            <div class="doc">

                <div class="top-list widget">
                    <h4 class="title is-4">해리 서재 인기 TOP 7</h4>
                    <h5 class="subtitle is-5">해리언들이 가장 뜨거운 반응을 보여준 Top 7</h5>
                </div>

                <div class="article-list widget">
                    <div>
                        <h4 class="title is-4">3분이면 충분해!<br>
                            같이 읽고 떠들기 위한 기사
                        </h4>
                        <h5 class="subtitle is-5">함께 읽으면 좋을 온라인 기사</h5>
                    </div>
                    <br>
                    <div class="columns is-multiline is-mobile" id="article-box">
                        <div class="column is-one-quarter">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <a href="#" class="review-title title is-5">기사 제목</a>
                                            <p class="subtitle is-6">Updated by {{ login_user }}</p>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>다들 시간 날 때 읽어봐!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nonfiction-list widget">
                    <h4 class="title is-4">‘일잘러’가 되기 위한 여정<br>
                        WORK & LIFE에 도움되는 실용서
                    </h4>
                    <h5 class="subtitle is-5">해리언이 읽은 실용서적</h5>
                </div>


                <div class="fiction-list widget">
                    <h4 class="title is-4">주말에 읽기에 딱!<br>
                        더 즐거운 인생을 위한 소설책
                    </h4>
                    <h5 class="subtitle is-5">시간이 없어도 이 소설만큼은 읽어야 해</h5>
                </div>


            </div>
    </body>
</html>