<!DOCTYPE html>
<html lang="ko">

    <head>
        <!-- Webpage Title -->
        <title>모두의 책리뷰 | 스파르타코딩클럽</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/static/images/favicon.png">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
              rel="stylesheet">

        <script type="text/javascript">

        </script>

        <style type="text/css">
            * {
                font-family: 'Noto Sans KR', sans-serif;
            }

            .form {
                width: 600px;
                margin: auto;
            }

            .intro {
                margin-top: 50px;
                margin-bottom: 20px;
            }

        </style>
    </head>

    <body>
        <div class="form">
            <!--            <img src="https://image.freepik.com/free-vector/large-bookcase-with-books-library-book-shelf-interior_92863-357.jpg"-->
            <!--                 class="img-fluid" alt="Responsive image">-->
            <div class="intro">
                <h1 class="title">어떤 책을 읽으셨어요?</h1>
                <p>해리언을 위해 읽은 책, 기사에 대한 내용을 남겨주세요.
                    <br> 기록한 책의 내용은 개인 서가에 꽂히게 됩니다.</p>
            </div>

            <div>

                <div class="field">
                    <label class="label">작성자</label>
                    <div class="control">
                        <div class="select is-success">
                            <select>
                                <option>규원</option>
                                <option>리아</option>
                                <option>재은</option>
                                <option>배지</option>
                                <option>김지</option>
                                <option>이안</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">구분</label>
                    <div class="control">
                        <div class="select is-success">
                            <select>
                                <option>소설책</option>
                                <option>실용서적</option>
                                <option>기사</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">제목</label>
                    <div class="control">
                        <input class="input is-success" type="text" placeholder="책 제목을 입력해주세요">
                    </div>
                </div>

                <div class="field">
                    <label class="label">저자</label>
                    <div class="control">
                        <input class="input is-success" type="text" placeholder="저자를 입력해주세요">
                    </div>
                </div>

                <div class="field">
                    <label class="label">URL</label>
                    <div class="control">
                        <input class="input is-success" type="text" placeholder="기사라면 URL을 작성해주세요">
                    </div>
                </div>

                <div class="field">
                    <label class="label">기억하고 싶은 내용</label>
                    <div class="control">
                        <textarea class="textarea is-success"
                                  placeholder="어떤 내용이 마음에 와닿았나요? 오래 기억하고 싶은 문장을 기록해주세요."></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-success is-rounded is-focused">내 서가에 책
                            꽂기
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </body>

</html>