<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>개인 서가 | HARRIE SHELF</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/images/favicon.png">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
              rel="stylesheet">

        <script type="text/javascript">

            $(document).ready(function () {
                $("#review-box").html("");
                showReview();
            });

            function showReview() {
                $('#review-box').empty()

                // 1. 리뷰 목록을 서버에 요청하기
                $.ajax({
                    type: "GET",
                    url: "/reviews?user={{ user }}",
                    data: {},
                    success: function (response) {
                        // 2. 요청 성공 여부 확인하기
                        if (response["result"] == "success") {
                            let reviews = response["reviews"];
                            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                            for (let i = 0; i < reviews.length; i++) {
                                makeCard(reviews[i]["title"], reviews[i]["author"], reviews[i]["url"], reviews[i]["memo"], reviews[i]["like"], reviews[i]["learn"], reviews[i]["angry"]);
                            }
                        } else {
                            alert("리뷰를 받아오지 못했습니다");
                        }
                    }
                })
            }

            function makeCard(title, author, url, memo, like, learn, angry) {
                let tempHtml = `<div class="column is-one-third">
                                    <div class="card">
                                    <div class="card-content">
                                      <div class="media">
                                        <div class="media-content">
                                          <a href="${url}" class="review-title title is-4">${title}</a>
                                          <p class="subtitle is-6">${author}</p>
                                        </div>
                                       </div>
                                        <div class="content">
                                            <p>${memo}</p>
                                        </div>
                                        <div class="content">
                                        </div>
                                      </div>
                                        <footer class="card-footer">
<a href="#" onclick="likeBook('${title}')" class="card-footer-item has-text-info">🤣:${like}</a>
<a href="#" onclick="learnBook('${title}')" class="card-footer-item has-text-info">🤓:${learn}</a>
<a href="#" onclick="angryBook('${title}')" class="card-footer-item has-text-info">😡:${angry}</a>
                                        </footer>
                                    </div>
                                </div>`;
                $("#review-box").append(tempHtml);
            }

            function likeBook(title) {
                $.ajax({
                    type: "POST",
                    url: "/api/like",
                    data: {title: title},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('재밌어요 +1!')
                            window.location.reload()
                        }
                    }
                });
            }

            function learnBook(title) {
                $.ajax({
                    type: "POST",
                    url: "/api/learn",
                    data: {title: title},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('유익해요 +1!')
                            window.location.reload()
                        }
                    }
                });
            }

            function angryBook(title) {
                $.ajax({
                    type: "POST",
                    url: "/api/angry",
                    data: {title: title},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('화나요 +1!')
                            window.location.reload()
                        }
                    }
                });
            }


        </script>
        <style>
            .center {
                text-align: center;
            }

            .review-list {
                width: 1090px;
                margin: 20px auto auto auto;
            }

            .review-title {
                display: inline-block;
            }

            .review-title:hover {
                text-decoration: underline;
            }

            .card {
                margin-left: 15px;
                margin-bottom: 15px;
            }

        </style>

    </head>
    <body>

        <nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home?login_user={{ login_user }}">HARRIE SHELF</a>
                    {#                        <img src="#" alt="#" width="112" height="28">#}
                    <div id="navbarBurger" class="navbar-burger" data-target="navMenuDocumentation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">

                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="/myshelf?user={{ login_user }}&login_user={{ login_user }}">
                            <span class="icon">
                                <i class="fas fa-heart"></i>
                              </span>
                            <span>내 서재 입장하기</span>
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">
                                <span class="icon">
                                <i class="fas fa-book"></i>
                                </span>
                                <span>해리언 서재 둘러보기</span>
                            </a>
                            <div id="moreDropdown" class="navbar-dropdown">
                                <a class="navbar-item" href="/myshelf?user=규원&login_user={{ login_user }}">
                                    규원
                                </a>
                                <a class="navbar-item" href="/myshelf?user=리아&login_user={{ login_user }}">
                                    리아
                                </a>
                                <a class="navbar-item" href="/myshelf?user=재니&login_user={{ login_user }}">
                                    재니
                                </a>
                                <a class="navbar-item" href="/myshelf?user=배지&login_user={{ login_user }}">
                                    배지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=김지&login_user={{ login_user }}">
                                    김지
                                </a>
                                <a class="navbar-item" href="/myshelf?user=이안&login_user={{ login_user }}">
                                    이안
                                </a>
                            </div>
                        </div>
                        <p class="control">
                            <a class="button is-link is-light" href="/write?login_user={{ login_user }}">
                                <span class="icon">
                                <i class="fas fa-pen"></i>
                                </span>
                                <strong>좋은 글 나누기</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero is-medium is-bold">
            <div class="hero-body">
                <div class="container center">
                    <h1 class="title">
                        {{ user }}의 서재
                    </h1>
                    <h2 class="subtitle">
                        안녕하세요. {{ user }}의 서재입니다!
                    </h2>
                </div>
            </div>
        </section>

        <div class="columns is-multiline is-mobile review-list" id="review-box">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a href="#" class="review-title title is-4">스푸트니크의 연인</a>
                                <p class="subtitle is-6">무라카미 하루키</p>
                            </div>
                        </div>
                        <div class="content">
                            <p>하루키의 여자 주인공이 궁금하다면?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>