<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Webpage Title -->
        <title>개인 서가 | HARRIE SHELF</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/static/images/favicon.png">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"/>

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700&display=swap"
              rel="stylesheet">

        <script type="text/javascript">
            function showReview() {
                // 1. 리뷰 목록을 서버에 요청하기
                // 2. 요청 성공 여부 확인하기
                // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
                $.ajax({
                    type: "GET",
                    url: "/myShelf",
                    data: {},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('기록을 성공적으로 불러왔습니다');
                        } else {
                            alert('기록을 받아오지 못했습니다');
                        }
                    }
                })
            }
        </script>

    </head>
    <body>
        <h1>규원의 서재</h1>
        <p>안녕하세요. 규원의 서재입니다!</p>
    </body>
</html>